<h1 class="page-header">Create Trip</h1>

<div class="main-container">
  <div class="flex">
    <div class="side-menu-container">
      <div class="button-container">
        <app-add-button
          [label]="labels[0]"
          (controlView)="controlView(labels[0])"
        ></app-add-button>
        <app-add-button
          [label]="labels[1]"
          (controlView)="controlView(labels[1])"
        ></app-add-button>
        <app-add-button
          [label]="labels[2]"
          (controlView)="controlView(labels[2])"
        ></app-add-button>
        <app-add-button
          [label]="labels[3]"
          (controlView)="controlView(labels[3])"
        ></app-add-button>
      </div>
    </div>
    <div class="main-content-container">
      <div class="main-content">
        <div *ngIf="!view.length">
          <app-destination-form></app-destination-form>
        </div>
        <div *ngIf="view === 'Flight'"><app-flights></app-flights></div>
        <div *ngIf="view === 'Lodging'"><app-lodging-tab></app-lodging-tab></div>
        <div *ngIf="view === 'Food'">ADD Food</div>
        <div *ngIf="view === 'Explore'">ADD Explore</div>
      </div>
    </div>
  </div>
</div>
