<div class="form-container">
  <div>Where are you departing from?</div>
  <form class="form-container">
    <div class="input-container">
      <mat-form-field>
        <mat-label>city, state or zipcode</mat-label>
        <input
          id="float-input"
          name="destination"
          type="text"
          matInput
          [(ngModel)]="from"
        />
      </mat-form-field>
      <button class="form-button" mat-raised-button (click)="submitForm()">
        Submit
      </button>
    </div>
  </form>
</div>
