<p>food works!</p>



<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.number}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Address Column -->
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> Address </th>
    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
  </ng-container>

<!-- Address Column -->
<ng-container matColumnDef="rating">
  <th mat-header-cell *matHeaderCellDef> Rating </th>
  <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
</ng-container>


  <ng-container matColumnDef="action">
      <tr><th mat-header-cell *matHeaderCellDef> Action </th></tr>
      <tr>
        <td mat-cell *matCellDef="let row" style="width:20%">
          <button mat-icon-button color="primary" (click)="addFood(row)" title="Add Restaurant"><mat-icon>add</mat-icon></button>
        </td>
      <tr>
    </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


  
  