<p style="display: flex; flex-flow: row; align-items: center;">
    <mat-form-field appearance="standard">
        <mat-label>Select a city, hotel, country, location</mat-label>
        <input matInput placeholder="Newark, New Jersey" type="text" [(ngModel)]="lodging" name="lodging">

    </mat-form-field>
    <button mat-button color="accent" style="height:50%" (click)="onClickSubmit(lodgingMap)"
        type="submit">Search</button>


</p>

<table class="mat-elevation-z8" mat-table ng-app="myApp" ng-controller="myCtrl">
    <ng-container>
        <thead>
            <tr>
                <mat-header-cell>#</mat-header-cell>
                <mat-header-cell>Name</mat-header-cell>
                <mat-header-cell>Address</mat-header-cell>
                <mat-header-cell>Rating</mat-header-cell>
                <mat-header-cell>Save</mat-header-cell>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let x of lodgingMap">
                <mat-cell>{{x.number}}</mat-cell>
                <mat-cell>{{x.name}}</mat-cell>
                <mat-cell>{{x.address}}</mat-cell>
                <mat-cell>{{x.rating}}</mat-cell>
                <button mat-button color="accent">Save this place</button>
            </tr>
        </tbody>
    </ng-container>
</table>