<section>
    <div style="display: flex; flex-flow: row; align-items: center;">
        <mat-form-field class="mat-search" appearance="standard">
            <mat-label>Select a city, hotel, country, location</mat-label>
            <input matInput placeholder="Newark, New Jersey" type="text" [(ngModel)]="lodging" name="lodging">

        </mat-form-field>
        <button mat-button color="accent" style="height:50%" (click)="onClickSubmit(lodgingMap)"
            type="submit">Search</button>

        <mat-form-field>
            <input name="checkInDate" [(ngModel)]="checkInDate" matInput [matDatepicker]="start"
                placeholder="Choose a starting date">
            <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
            <mat-datepicker #start></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input name="checkOutDate" [(ngModel)]="checkOutDate" matInput [matDatepicker]="end"
                placeholder="Choose an end date">
            <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
            <mat-datepicker #end></mat-datepicker>

        </mat-form-field>
        <button (click)="submitForm()" mat-button color="accent">Save these details</button>

    </div>

    <table [style.padding]="'15px'" style="width: 100%;" class="mat-elevation-z8">
        <thead>
            <tr>
                <td style="padding-right: 10px;">#</td>
                <td>Name</td>
                <td>Address</td>
                <td>Rating</td>
                <td>Select</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let x of lodgingMap; let i = index;">
                <td>{{x.number}}</td>
                <td>{{x.name}}</td>
                <td>{{x.address}}</td>
                <td>{{x.rating}}</td>
                <td>
                    <mat-checkbox (click)="onSelect(x)" (change)="$event ? 
                    selection.toggle(i) : null" [checked]="selection.isSelected(i)"></mat-checkbox>
                </td>
            </tr>
        </tbody>
    </table>
</section>