<p>For this lodging tab I need</p>


<ul>
    <li>
        Get whatever city is in the city field
    </li>
    <li>
        Get whatever country is in the country field
    </li>
    <li> Have search fields for lodging</li>
    <li>Maximum radius? Links to google maps? Return latitude longitude? </li>
    <li>List of places and addresses, how far away they are (it appears that google places takes care of detecting where you are)</li>  
    <li>Select lodging button, add how long you are staying there</li>


    <li>Just do the goddamn nav and footer first it's easier</li>
</ul>