@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url('./app/images/abbey.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover; */
}

.page-header {
  margin-bottom: 3rem;
  padding: 20px 20px;
}

.mt-10rem {
  margin-top: 10rem;
}

.button-container {
  display: grid;
  gap: 1rem;
}

.flex {
  display: flex;
}

.main-container {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* common simple form styling */
.input-container {
  display: grid;
  width: 250px;
  justify-content: center;
}
