@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: '';
}

.page-header {
  margin-bottom: 3rem;
  padding: 20px 20px;
}

.main-content {
  margin-top: 10rem;
}
