<div>
  <form action="">
    <div class="input-container">
      <span class="p-float-label">
        <input
          id="username"
          class="p-inputtext-sm"
          name="username"
          type="text"
          pInputText
          [(ngModel)]="username"
        />
        <label for="float-input">Username</label>
      </span>
      <span class="p-float-label">
        <input
          id="float-input"
          class="p-inputtext-sm"
          name="password"
          type="text"
          pInputText
          [(ngModel)]="password"
        />
        <label for="float-input">Password</label>
      </span>

      <p-button label="Submit" (click)="submitForm()"></p-button>
    </div>
  </form>
</div>
