<mat-toolbar>
  <h1 class="page-header">My Trips</h1>
  <a routerLink="/create-trip">Add New Trip</a>
</mat-toolbar>
<mat-tab-group >
  <mat-tab *ngFor="let x of myTrips" label="Trip #{{x.num}}">

    <table [style.padding]="'15px'" style="width: 100%;" class=" container">
      <tbody>
        <tr>
          <td class="one">Destination</td>
          <td>{{x.destination}}</td>
        </tr>
        <tr>
          <td class="one">Destination Airport</td>
          <td>{{x.arrivalAirport}}</td>
        </tr>
        <tr>
          <td class="one">Arrival Date</td>
          <td>{{x.arrivalDate}}</td>
        </tr>
        <tr>
          <td class="one">Departure Airport</td>
          <td>{{x.departAirport}}</td>
        </tr>
        <tr>
          <td class="one">Date of Departure</td>
          <td>{{x.departDate}}</td>
        </tr>
        <tr>
          <td class="one">Restaurants to visit</td>
          <td>{{x.foodReservationName}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{{x.foodReserveDate}}</td>
        </tr>
        <tr>
          <td class="one">Places of Interest</td>
          <td>{{x.tourReserveName}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{{x.tourReserveDate}}</td>
        </tr>
        <tr>
          <td class="one">Lodging Name</td>
          <td>{{x.hotelName}}</td>
        </tr>
        <tr>
          <td class="one">Lodging Check-in</td>
          <td>{{x.checkingInDate}}</td>
        </tr>
        <tr>
          <td class="one">Lodging Check-out</td>
          <td>{{x.checkOutDate}}</td>
        </tr>
        <tr>
          <td class="one">Lodging Address</td>
          <td>{{x.hotel_address}}</td>
        </tr>
        <tr>
          <td class="one">Price per night</td>
          <td>${{x.pricePerNight}}.00 USD</td>
        </tr>
      </tbody>
    </table>
  </mat-tab>
</mat-tab-group>